@import "src/reusables/designSystem/theme.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;

  .btn {
    color: $textColor;
    background-color: $btnColor;

    &:hover {
      background-color: $btnColorHover;
    }
  }
}
